#perfilForm {
    background-color: #ffffff;
    margin: 6.25rem 0;
    padding: 2.5rem 5rem;
    border-radius: 0.4rem;
    border-top: 4px solid #00AF50;
    width: 80%;
    min-width: 300px;
    box-shadow: 0.4rem 0.4rem 2rem 0 rgba(0, 0, 0, 0.25);
  }

  #comunicacaoForm {
    background-color: #ffffff;
    margin: 6.25rem 0;
    padding: 2.5rem 5rem;
    border-radius: 0.4rem;
    border-top: 4px solid #00AF50;
    width: 80%;
    min-width: 300px;
    box-shadow: 0.4rem 0.4rem 2rem 0 rgba(0, 0, 0, 0.25);
  }
  
  .resultados {
    display: none;
  }

  #comunicacaoForm input {
    padding: 10px;
    /* width: 100%; */
    font-size: 18px;
    border: 1px solid #aaaaaa;
  }
  
  /* Style the input fields */
  #perfilForm input {
    padding: 10px;
    /* width: 100%; */
    font-size: 18px;
    border: 1px solid #aaaaaa;
  }

  .radioOption label {
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
  }

  .radioOption label:hover {
    background-color: #eeefff;
  }

  /* input[type=text] {
    width: 100%;
  } */
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid,
  textarea.invalid {
    background-color: #ffdddd;
  }

  #agendaHidden .pergunta {
    margin-top: 4rem;
  }


  .pergunta {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  

  .radioOption p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .radioOption label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  .radioOption input {
    margin-right: 0.5rem;  
  }

  
  /* Hide all steps by default: */
  .tab {
    display: none;
    text-align: center;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 8px;
    width: 8px;
    margin: 0 1px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  #prevBtn,
  #nextBtn {
    padding: 0.8rem 1rem;
    width: 7rem;
    border: none;
    /* border-top: 3px solid #00AF50; */
    border-radius: 0.25rem;
    background-color: #2C5E43;
    /* box-shadow: 0.25rem 0.25rem 0.7rem 0 rgba(0, 0, 0, .25); */
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .radioWarning {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    /* padding: 2px 5px; */
    color: red;
    font-weight: 500;
    /* border: 1px red solid; */
  }